@model IEnumerable<Innvo.Models.Transaction.TransactionListItem>

<h1 class="center-text"> All Transaction</h1>

<table class="table table-striped">
     <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th>Action</th>
            <th>User Id</th>
            <th>&nbsp</th>
        </tr>
     </thead>
     <tbody>
        @foreach(var i in Model) {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td>@i.Code</td>
                <td>@i.Action</td>
                <td>@i.UserId</td>
                <td><a asp-action="Details" asp-route-id=@i.Id>Details</a></td>
            </tr>
        }
     </tbody>
</table>